<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Posts</h1>
    <ul class="post-list">
      <% posts.forEach(post => { %>
        <li>
          <%= post.id %>: 
          <%= post.post %>
          <a 
            class="btn-update" 
            href="/update/<%= post.id %>">수정하기
          </a>
        </li>
      <% }) %> 
    </ul>
    <form action="/create" method="post">
      <label for="post">글입력</label>
      <input type="text" id="post" name="post"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div><!-- container -->
</body>
</html>